<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>property</key>
	<dict>
		<key>width</key>
		<integer>355</integer>
		<key>height</key>
		<integer>424</integer>
	</dict>
	<key>unit_list</key>
	<dict>
		<key>normal</key>
		<dict>
			<key>point</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>0</integer>
					<integer>424</integer>
				</array>
				<array>
					<integer>1</integer>
					<integer>0</integer>
					<integer>355</integer>
					<integer>0</integer>
				</array>
				<array>
					<integer>1</integer>
					<integer>1</integer>
					<integer>355</integer>
					<integer>424</integer>
				</array>
			</array>
			<key>triangle</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</array>
		</dict>
		<key>xiongbu</key>
		<dict>
			<key>point</key>
			<array>
				<array>
					<real>0.28169014084507</real>
					<real>0.47169811320755</real>
					<integer>100</integer>
					<integer>200</integer>
				</array>
				<array>
					<real>0.36619718309859</real>
					<real>0.48584905660377</real>
					<integer>130</integer>
					<integer>206</integer>
				</array>
				<array>
					<real>0.44225352112676</real>
					<real>0.52122641509434</real>
					<integer>157</integer>
					<integer>221</integer>
				</array>
				<array>
					<real>0.44507042253521</real>
					<real>0.58962264150943</real>
					<integer>158</integer>
					<integer>250</integer>
				</array>
				<array>
					<real>0.38591549295775</real>
					<real>0.61792452830189</real>
					<integer>137</integer>
					<integer>262</integer>
				</array>
				<array>
					<real>0.30140845070423</real>
					<real>0.61084905660377</real>
					<integer>107</integer>
					<integer>259</integer>
				</array>
			</array>
			<key>triangle</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>5</integer>
				</array>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>5</integer>
				</array>
				<array>
					<integer>2</integer>
					<integer>3</integer>
					<integer>5</integer>
				</array>
				<array>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
				</array>
			</array>
			<key>animation</key>
			<dict>
				<key>rock</key>
				<array>
					<dict>
						<key>type</key>
						<string>position</string>
						<key>start</key>
						<dict>
							<key>time</key>
							<integer>0</integer>
							<key>point</key>
							<array>
								<dict>
									<key>id</key>
									<integer>1</integer>
									<key>x</key>
									<string>130</string>
									<key>y</key>
									<string>206</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>2</integer>
									<key>x</key>
									<string>157</string>
									<key>y</key>
									<string>221</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>3</integer>
									<key>x</key>
									<string>158</string>
									<key>y</key>
									<string>250</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>4</integer>
									<key>x</key>
									<string>137</string>
									<key>y</key>
									<string>262</string>
								</dict>
							</array>
						</dict>
						<key>end</key>
						<dict>
							<key>time</key>
							<string>0.3</string>
							<key>point</key>
							<array>
								<dict>
									<key>id</key>
									<integer>1</integer>
									<key>x</key>
									<string>130</string>
									<key>y</key>
									<string>226</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>2</integer>
									<key>x</key>
									<string>157</string>
									<key>y</key>
									<string>251</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>3</integer>
									<key>x</key>
									<string>158</string>
									<key>y</key>
									<string>280</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>4</integer>
									<key>x</key>
									<string>137</string>
									<key>y</key>
									<string>282</string>
								</dict>
							</array>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>position</string>
						<key>start</key>
						<dict>
							<key>time</key>
							<real>0.3</real>
							<key>point</key>
							<array>
								<dict>
									<key>id</key>
									<integer>1</integer>
									<key>x</key>
									<string>130</string>
									<key>y</key>
									<string>226</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>2</integer>
									<key>x</key>
									<string>157</string>
									<key>y</key>
									<string>251</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>3</integer>
									<key>x</key>
									<string>158</string>
									<key>y</key>
									<string>280</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>4</integer>
									<key>x</key>
									<string>137</string>
									<key>y</key>
									<string>282</string>
								</dict>
							</array>
						</dict>
						<key>end</key>
						<dict>
							<key>time</key>
							<string>0.7</string>
							<key>point</key>
							<array>
								<dict>
									<key>id</key>
									<integer>1</integer>
									<key>x</key>
									<string>130</string>
									<key>y</key>
									<string>296</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>2</integer>
									<key>x</key>
									<string>157</string>
									<key>y</key>
									<string>206</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>3</integer>
									<key>x</key>
									<string>158</string>
									<key>y</key>
									<string>235</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>4</integer>
									<key>x</key>
									<string>137</string>
									<key>y</key>
									<string>252</string>
								</dict>
							</array>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>position</string>
						<key>start</key>
						<dict>
							<key>time</key>
							<real>0.7</real>
							<key>point</key>
							<array>
								<dict>
									<key>id</key>
									<integer>1</integer>
									<key>x</key>
									<string>130</string>
									<key>y</key>
									<string>296</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>2</integer>
									<key>x</key>
									<string>157</string>
									<key>y</key>
									<string>206</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>3</integer>
									<key>x</key>
									<string>158</string>
									<key>y</key>
									<string>235</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>4</integer>
									<key>x</key>
									<string>137</string>
									<key>y</key>
									<string>252</string>
								</dict>
							</array>
						</dict>
						<key>end</key>
						<dict>
							<key>time</key>
							<string>1</string>
							<key>point</key>
							<array>
								<dict>
									<key>id</key>
									<integer>1</integer>
									<key>x</key>
									<string>130</string>
									<key>y</key>
									<string>206</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>2</integer>
									<key>x</key>
									<string>157</string>
									<key>y</key>
									<string>221</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>3</integer>
									<key>x</key>
									<string>158</string>
									<key>y</key>
									<string>250</string>
								</dict>
								<dict>
									<key>id</key>
									<integer>4</integer>
									<key>x</key>
									<string>137</string>
									<key>y</key>
									<string>262</string>
								</dict>
							</array>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>animation</key>
	<dict>
		<key>ruyao</key>
		<array>
			<dict>
				<key>unit_name</key>
				<string>xiongbu</string>
				<key>anim_name</key>
				<string>rock</string>
				<key>time</key>
				<real>0.8</real>
				<key>delay</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
